#* @vtlvariable name="valuesViewHelper" type="gov.dhs.ice.jira.plugin.customfields.RestValuesViewHelper" *#
#* @vtlvariable name="viewHelper" type="gov.dhs.ice.jira.plugin.customfields.ajax.AjaxViewHelper" *#

#disable_html_escaping()
#if( $restValue )
    $restValue
#end
###if( $valuesViewHelper )
##$viewHelper.getHtmlForView( $array, $issue.getProjectObject().getKey(), $i18n )
###end
##
###if( $valuesViewHelper )
##    #if( $array )
##		$valuesViewHelper.getHtmlForView( $array, $issue.getProjectObject().getKey(), $i18n )
##    #end
###else
##Plugin is in error
###end
